<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/style.css">

    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/hero.css">
    <link rel="stylesheet" href="../../styles/form.css">

    <!-- Fontes -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100..900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <script src="../../src/main.js"></script>
    <title>Contato - Github</title>
</head>

<body class="dark_mode fix-header">
    <header>
        <div class="header_container">
            <nav class="nav-bar">
                <a href="../../index.html">
                    <strong>HOME</strong>
                </a>
                <a href="./servicos.html">
                    <strong>SERVIÇOS</strong>
                </a>
                <a href="./curriculo.html">
                    <strong>CURRICULO</strong>
                </a>
                <a href="./contato.html">
                    <strong>CONTATO</strong>
                </a>
                <a href="./github.html">
                    <strong>GITHUB</strong>
                </a>
            </nav>
            <div class="theme_button_container">
                <button type="button" onclick="create_template()">Template Toggle</button>
                <button class="theme-button" id="i_theme_button"
                    onclick="call_event('change_theme',{})">theme_swap</button>
            </div>
        </div>
    </header>
    <main id="contato" style="padding-top: 4rem;">
        <h2>Contato</h2>

        <form action="#" method="post">
            <table border="1">

                <thead>
                    <tr>
                        <th colspan="2">Formulário de Contato</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td><label for="nome">Nome Completo:</label></td>
                        <td><input type="text" id="nome" name="nome" required></td>
                    </tr>

                    <tr>
                        <td><label for="telefone">Telefone:</label></td>
                        <td><input type="tel" id="telefone" name="telefone" placeholder="(00) 00000-0000" required></td>
                    </tr>

                    <tr>
                        <td><label for="email">E-mail:</label></td>
                        <td><input type="email" id="email" name="email" required></td>
                    </tr>

                    <tr>
                        <td>Tipo de Cliente:</td>
                        <td>
                            <div class="radio"></div>
                            <input type="radio" id="pf" name="tipo_cliente" value="pf" required>
                            <label for="pf">Pessoa Física</label>

                            <input type="radio" id="pj" name="tipo_cliente" value="pj">
                            <label for="pj">Pessoa Jurídica</label>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="horario">Melhor horário:</label></td>
                        <td><input type="time" id="horario" name="horario"></td>
                    </tr>

                    <tr>
                        <td><label for="servico">Serviço:</label></td>
                        <td>
                            <select id="servico" name="servico" required>
                                <option value="">Selecione...</option>
                                <option value="static">Página Estática</option>
                                <option value="dynamic">Página Dinâmica</option>
                                <option value="advanced">Página Super Avançada</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Funcionalidades:</td>
                        <td>
                            <input type="checkbox" id="responsivo" name="features" value="responsivo">
                            <label for="responsivo">Responsivo</label><br>

                            <input type="checkbox" id="animacoes" name="features" value="animacoes">
                            <label for="animacoes">Animações</label><br>

                            <input type="checkbox" id="escalabilidade" name="features" value="escalabilidade">
                            <label for="escalabilidade">Escalabilidade</label><br>

                            <input type="checkbox" id="integracao" name="features" value="integracao">
                            <label for="integracao">Integração API</label>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="descricao">Descrição:</label></td>
                        <td>
                            <textarea id="descricao" name="descricao" rows="8" cols="40"></textarea>
                        </td>
                    </tr>

                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align:center;">
                            <button type="submit">Enviar</button>
                            <button type="reset">Limpar</button>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </form>
    </main>


</body>

</html>