
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/style.css">
    <script src="../../src/main.js"></script>
    <title>Github - Pam-Devil</title>
</head>

<body>
    <header>
        <div class="header_container">
            <nav class="nav-bar">
                <a href="../../index.html">
                    home
                </a>
                <a href="./servicos.html">
                    servicos
                </a>
                <a href="./curriculo.html">
                    Curriculos
                </a>
                <a href="./contato.html">
                    Contato
                </a>
                <a href="./github.html">
                    Github
                </a>
            </nav>
            <div class="theme_button_container">
                <button type="button" onclick="create_template()">Template Toggle</button>
                <button class="theme-button" id="i_theme_button"
                    onclick="call_event('change_theme',{})">theme_swap</button>
            </div>
        </div>
    </header>

     <main id="github">
        <h2>GitHub</h2>

        <div class="github-container">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" 
                 alt="Logo do GitHub" width="150">
            <p>
                Confira meus projetos no GitHub:
            </p>

            <a href="https://github.com/Pam-Devil" target="_blank">
                github.com/Pam-Devil
            </a>
        </div>
    </main>
</body>

</html>