html,
body {
    height: 100%;
}

body {
    --primary-color: rgb(230, 154, 154);
    --background-image: url("https://i.redd.it/s59mnjg6wvqa1.gif");
    --lain: url("../media/img/lain2.gif");
}

body.dark_mode {
    --background-image: url("https://64.media.tumblr.com/dd5096315684d589f40fa818be6c9603/9b73e870e3d0d752-71/s1280x1920/af5e92acba52036e1fe8b9a4fb3507d433d4de14.gif");
    --primary-color: black;
    --lain: url("../media/img/lain3.gif");
}


body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(63, 53, 80);
    background-image: var(--background-image);
    background-size: cover;
}

header {
    border: green solid 1px;
    margin-top: 0;
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
}

.header_container {
    border: rgb(159, 231, 159) solid 1px;
    display: flex;
    flex-direction: column;
}

.theme_button_container {
    display: flex;
    justify-content: center;
}

.dark_mode .nav-bar {
    background-color: var(--primary-color);
}

.nav-bar {
    /* background-color: rgb(121, 94, 139); */
    background-color: var(--primary-color);
    flex: 1;
}

*,
:after,
:before {
    box-sizing: border-box;
}

nav {
    display: flex;
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgb(121, 94, 139);
}

a {
    color: white;
    border: cyan 2px solid;
}

p {
    color: var(--primary-color)
}

a:hover {
    color: pink;
}

h1 {
    color: white;
}

.main_image {
    border: green 2px solid;
}

main .hero {
    border: red solid 2px;
    /* porque? serio, POR QUE ESSA CRIAÇÂO DOS INFERNOS 
    NAO TEM UM COMPILADOR???????????????? 
    TOLERANTE A ERROS È MINHA TROLHA,
    CSS ERA PRA SER COMPILADO POR NATUREZA, 
    GRITE MEUS ERROS NA MINHA CARA,
    ANTES DE ME FAZER DE IDIOTA POR MAIS DE DUAS HORAS
    DUAS HORAS POR CAUSA DE UM ESPAÇO!!!!!
    VAI TOMAR NO CU
    PORRAAAAAA */
    /* NOTE: Nunca mais, NUNCA MAIS esqueça de baixar um linter.
    NOTE: Nunca mais mexa em CSS sem a porra de um linter! */
    /* NOTE: A porra do linter não funciona sem um servidor node */
    /* NOTE: Me mate */
    width: 100%;
    background-image: var(--lain); 
    background-size: cover;
    min-height: 100dvh;
    padding-top: 4rem;

}

.resto {
    height: 200dvh;
}

/* Image config */

img .img-violinist, img .img-osu, img .img-touhou {
    width: 100%;
    height: auto;
    object-fit: cover;
}